#messages {
    border: solid;
    width: 100%;
    height: 50px;
    overflow: auto;
    padding: 5px;
}

#debugOutput {
    width: 350px;
    height: 500px;
    overflow: auto;
    padding: 5px;
}

#joystickView {
    position: relative;
    border: solid 1px;
    width: 200px;
    height: 200px;
}

#joystick {
    position: absolute;
    border: 0;
    width: 40px;
    height: 40px;
    top: 80px;
    left: 80px;
}

.sliderValue {
    font-weight: bold;
}

