.ui-button-text-only .ui-button-text {
    padding-top: .8em;
    padding-left: .8em;
    padding-right: .8em;
    padding-bottom: .8em;
}

.messages {
    width: 100%;
    height: 50px;
}

.debugOutput {
    width: 100%;
    height: 80px;
}